<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <script type="module" async src="./javaScript/index.js"></script>
    <link href="../css/estiloMenu.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!------------------------------------------------------->
    <!-----------------------   HEADER   -------------------->
    <!------------------------------------------------------->
    <header>
        <header>
            <a class="imgLogo">
                <img class="logo" src="../imagenes/logo_movilidad_humana.png" />
            </a>
        </header>
        <div>
            <nav class="navMenu">
                <ul>
                    <li>
                        <a class="li_navMenu">PARTICIPANTES</a>
                        <ul>
                            <li><a href="/pagNuevoParticipante">Añadir nuevo participante</a></li>
                            <li><a href="">Buscar participantes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="li_navMenu">UNIDAD FAMILIAR</a>
                        <ul>
                            <li><a href="">Buscar unidad familiar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="li_navMenu">AYUDA</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="divPerfil">
            <div class="iconoGrande">
                <img src="../imagenes/user-circle.svg" />
            </div>
            <!--PARA SALIR DE LA APLICACION-->
            <img class="iconoPeq" name="salir" src="../imagenes/logout.svg" />
        </div>
    </header>

    <main>

    </main>

    <footer>
        © 2024 Olga Gil y Lucía Morado. Todos los derechos reservados
    </footer>

</body>

</html>