<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud - Nuevo participante</title>
    <script type="module" async src="./javaScript/nuevaSalud/index.js"></script>
    <link href="../css/estiloParticipante.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a class="imgLogo">
            <img class="logo" src="../imagenes/logo_movilidad_humana.png" />
        </a>
    </header>

    <main class="divCuerpo">
        <section class="datos">
            <h2>FICHA DE ACOGIDA</h2>

            <form id="form_salud" action="" method="post">

                <h3>Salud</h3>
                <div class="div_bloque">
                    <label for="cuestionesGraves">Cuestiones graves</label>
                    <div class="divRadioButton">
                        <input class="divRadioButton" type="radio" name="cuestionesGraves" value="0">Sí</input>
                        <input class="divRadioButton" type="radio" name="cuestionesGraves" value="1" checked>No</input>
                    </div>
                </div>
                <div class="div_bloque">
                    <label for="especificacionesGraves">Especificar cuestiones graves</label>
                    <input class="inputTexto" type="text" id="especificacionesGraves" name="especificacionesGraves" placeholder=" Especificar las cuestiones graves de salud" />
                </div>
                <div class="div_bloque">
                    <label for="discapacidadReconocida">Discapacidad reconocida</label>
                    <div class="divRadioButton">
                        <input class="divRadioButton" type="radio" name="discapacidadReconocida" value="0">Sí</input>
                        <input class="divRadioButton" type="radio" name="discapacidadReconocida" value="1" checked>No</input>
                    </div>
                </div>

                <div class="div_bloque">
                    <label for="especificacionesDiscapacidad">Especificar discapacidad reconocida</label>
                    <input class="inputTexto" type="text" id="especificacionesDiscapacidad" name="especificacionesDiscapacidad"
                        placeholder=" Especificar la discapacidad reconocida" />
                </div>
                <div class="div_bloque">
                    <label for="asistenciaSanitaria">Asistencia sanitaria (no tiene, en trámite, Seguridad Social,
                        seguro
                        privado...)</label>
                    <input class="inputTexto" type="text" id="asistenciaSanitaria" name="asistenciaSanitaria" placeholder=" Especificar la asistencia sanitaria que tiene" required />
                </div>

                <div class="botones-form">
                    <button class="btnes" type="button" id="comprobar">Comprobar</button>
                    <input class="btnes" type="reset" id="borrar" value="Limpiar" />
                    <a class="btnes" href="/pagNuevaUnidadFamiliar">Anterior</a>
                    <a class="btnes" id="siguiente" href="/pagNuevaFormacion">Siguiente</a>
                </div>
            </form>
        </section>

    </main>


</body>

</html>