<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico - Nuevo participante</title>
    <script type="module" async src="./javaScript/index.js"></script>
    <link href="../css/estiloParticipante.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a class="imgLogo">
            <img class="logo" src="../imagenes/logo_movilidad_humana.png" />
        </a>
    </header>

    <main class="main-content">
        <section class="datos">
            <h2>FICHA DE ACOGIDA</h2>

            <form id="form_historico" action="" method="post">

                <h3>Histórico de actuaciones</h3>

                <textarea class="txtArea"></textarea>


                <div class="botones-form">
                    <button class="btnes" type="button" id="comprobar">Comprobar</button>
                    <input class="btnes" type="reset" id="borrar" value="Limpiar" />
                    <input class="btnes" type="submit" value="Guardar" />
                    <a class="btnes"href="/pagUnidadFamiliar">Anterior</a>
                </div>
            </form>
        </section>

    </main>


</body>

</html>