<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Participante</title>
    <script type="module" async src="./javaScript/addParticipantes/index.js"></script>
    <link href="../css/estiloParticipante.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a class="imgLogo">
            <img class="logo" src="../imagenes/logo_movilidad_humana.png" />
        </a>
    </header>
    <main class="main-content">
        <section class="datos">
            <h2>FICHA DE ACOGIDA</h2>

            <form id="form_nuevoPart" action="" method="post">

                <div class="div_bloque">
                    <label for="proteccionDatos">¿Ha firmado el documento de protección de datos?</label>

                    <div class="divRadioButton">
                        <input class="divRadioButton" type="radio" name="proteccionDatos" value="0">Sí</input>
                        <input class="divRadioButton" type="radio" name="proteccionDatos" value="1" checked>No</input>
                    </div>
                </div>

                <div id="contFormulario" class="contFormulario">
                    <h3>Datos personales</h3>
                    <div class="div_bloque">
                        <label for="fAcogida">Fecha de acogida</label>
                        <input class="inputTexto" type="date" id="f_Acogida" name="fechaAcogida"
                            placeholder="Introduce la fecha de acogida..." required />
                    </div>
                    <div class="div_bloque">
                        <label for="nombre">Nombre</label>
                        <input class="inputTexto" type="text" id="nombre" name="nombre" placeholder=" Introduzca el nombre" required />
                    </div>
                    <div class="div_bloque">
                        <label for="apellido1">Primer apellido</label>
                        <input class="inputTexto" type="text" id="apellido1" name="apellido1" placeholder=" Introduzca el primer apellido"
                            required />
                    </div>
                    <div class="div_bloque">
                        <label for="apellido2">Segundo apellido</label>
                        <input class="inputTexto" type="text" id="apellido2" name="apellido2" placeholder=" Introduzca el segundo apellido"
                            required />
                    </div>
                    <div class="div_bloque">
                        <label for="dni">Documento de identidad (especifica si es DNI, NIE, Pasaporte o TIE)</label>
                        <input class="inputTexto" type="text" id="dni" name="dni" placeholder=" Introduzca el documento de identidad" required />
                    </div>
                    <div class="div_bloque">
                        <label for="genero">Identidad de género</label>
                        <select class="inputTexto" id="genero" name="genero" required>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                            <option value="noContesto">Paso palabra</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                    <div class="div_bloque">
                        <label for="fechNac">Fecha de nacimiento</label>
                        <input class="inputTexto" type="date" id="fechaNac" name="fechaNac" placeholder=" Introduzca la fecha de nacimiento"
                            required />
                    </div>
                    <div class="div_bloque">
                        <label for="fechaEspana">Fecha de llegada a España</label>
                        <input class="inputTexto" type="date" id="fechaEspana" name="fechaEspana" placeholder=" Introduzca la fecha de llegada a España"
                            required />
                    </div>
                    <div class="div_bloque">
                        <label for="estCivil">Estado civil</label>
                        <select class="inputTexto" id="estadoCivil" name="estadoCivil" required>
                            <option value="solero">Soltero/a</option>
                            <option value="parejaHecho">Pareja de hecho</option>
                            <option value="casado">Casado/a</option>
                            <option value="separado">Separado/a</option>
                            <option value="divorciado">Divorciado/a</option>
                            <option value="viudo">Viudo/a</option>
                        </select>
                    </div>
                    <div class="div_bloque">
                        <label for="paisNacimiento">País de nacimiento</label>
                        <input class="inputTexto" type="text" id="paisNacimiento" name="ciudad" placeholder=" Introduzca el país de nacimiento"
                            required />
                    </div>
                    <div class="div_bloque">
                        <label for="paisNacionalidad">País de nacionalidad</label>
                        <input class="inputTexto" type="text" id="paisNacionalidad" name="ciudad" placeholder=" Introduzca el país de nacionalidad"
                            required />
                    </div>
                    <div class="div_bloque">
                        <label for="direccion">Dirección completa</label>
                        <input class="inputTexto" type="text" id="direccion" name="direccion" placeholder=" Introduzca la dirección"
                            required />
                    </div>
                    <div class="div_bloque">
                        <label for="ciudad">Ciudad</label>
                        <input class="inputTexto" type="text" id="ciudad" name="ciudad" placeholder=" Introduzca la ciudad" required />
                    </div>
                    <div class="div_bloque">
                        <label for="telefono">Teléfono</label>
                        <input class="inputTexto" type="tel" id="telefono" name="telefono" placeholder=" Introduzca el teléfono" required />
                    </div>
                    <div class="div_bloque">
                        <label for="empadronamiento">Empadronamiento</label>
                        <div class="divRadioButton">
                            <input class="divRadioButton" type="radio" name="empadronamiento" value="0">Sí</input>
                            <input class="divRadioButton" type="radio" name="empadronamiento" value="1" checked>No</input>
                        </div>
                    </div>

                    <div class="div_bloque">
                        <label for="email">Correo electrónico</label>
                        <input class="inputTexto" type="email" id="email" name="email" placeholder=" Introduzca el correo electrónico" required />
                    </div>

                    <div class="botones-form">
                        <button class="btnes" type="button" id="comprobar">Comprobar</button>
                        <input class="btnes" type="reset" id="borrar" value="Limpiar" />
                        <a class="btnes" id="siguiente" href="/pagUnidadFamiliar">Siguiente</a>
                    </div>
                    <p id="resultado"></p>
            </form>
        </section>

    </main>

    <!-- <footer>
        © 2024 Olga Gil y Lucía Morado. Todos los derechos reservados
    </footer> -->

</body>

</html>