<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboral - Nuevo participante</title>
    <script type="module" async src="./javaScript/index.js"></script>
    <link href="../css/estiloParticipante.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a class="imgLogo">
            <img class="logo" src="../imagenes/logo_movilidad_humana.png" />
        </a>
    </header>

    <main class="divCuerpo">
        <section class="datos">
            <h2>FICHA DE ACOGIDA</h2>

            <form id="form_laboral" action="" method="post">

                <h3>Laboral</h3>


                <div class="div_bloque">
                    <label for="premisoTrabajo">¿Tiene permiso de trabajo?</label>
                    <div class="divRadioButton">
                        <input class="divRadioButton" type="radio" name="premisoTrabajo" value="0">Sí</input>
                        <input class="divRadioButton" type="radio" name="premisoTrabajo" value="1" checked>No</input>
                    </div>
                </div>
                <div class="div_bloque">
                    <label for="experienciaLaboral">¿Tiene experiencia laboral?</label>
                    <div class="divRadioButton">
                        <input class="divRadioButton" type="radio" name="experienciaLaboral" value="0">Sí</input>
                        <input class="divRadioButton" type="radio" name="experienciaLaboral" value="1"
                            checked>No</input>
                    </div>
                </div>
                <div class="div_bloque">
                    <label for="inscritoDemandante">¿Está inscrito como demandante de empleo?</label>
                    <div class="divRadioButton">
                        <input class="divRadioButton" type="radio" name="inscritoDemandante" value="0">Sí</input>
                        <input class="divRadioButton" type="radio" name="inscritoDemandante" value="1"
                            checked>No</input>
                    </div>
                </div>
                <div class="div_bloque">
                    <label for="situacionLaboral">Situación laboral actual (desempleo, empleo, estudiante...)</label>
                    <input class="inputTexto" type="text" id="situacionLaboral" name="situacionLaboral"
                        placeholder=" Introduzca la situación laboral" required />
                </div>
                <div class="div_bloque">
                    <label for="tipoContrato">Especificar el tipo de contrato</label>
                    <input class="inputTexto" type="text" id="tipoContrato" name="tipoContrato" placeholder=" Introduzca el tipo de contrato" />
                </div>
                <div class="div_bloque">
                    <label for="tipoJornada">Especificar el tipo de jornada laboral</label>
                    <input class="inputTexto" type="text" id="tipoJornada" name="tipoJornada" placeholder=" Introduzca la jornada laboral" />
                </div>
                <div class="div_bloque">
                    <label for="tipoSector">Especificar el sector en el que trabaja</label>
                    <input class="inputTexto" type="text" id="tipoSector" name="tipoSector" placeholder=" Introduzca el sector del trabajo" />
                </div>
                <div class="div_bloque">

                    <label for="sectoresExpPrevia">Especificar los sectores de experiencia previa</label>
                    <input class="inputTexto" type="text" id="sectoresExpPrevia" name="sectoresExpPrevia"
                        placeholder=" Introduzca los sectores en que tiene experiencia previa" />
                </div>
                <div class="div_bloque">
                    <label for="otrosDatosExpPrevia">Otros datos de interés sobre experiencia laboral</label>
                    <input class="inputTexto" type="text" id="otrosDatosExpPrevia" name="otrosDatosExpPrevia"
                        placeholder=" Introduzca otros datos de interés laboral" />

                </div>

                <div class="botones-form">
                    <button class="btnes" type="button" id="comprobar">Comprobar</button>
                    <input class="btnes" type="reset" id="borrar" value="Limpiar" />
                    <a class="btnes" href="/pagNuevaFormacion">Anterior</a>
                    <a class="btnes" href="/pagNuevoHistorico">Siguiente</a>

                </div>
            </form>
        </section>

    </main>


</body>

</html>