<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formación - Nuevo participante</title>
    <script type="module" async src="./javaScript/index.js"></script>
    <link href="./css/estiloMenu.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="divCuerpo">
        <section class="formacion">
            <h2>FICHA DE ACOGIDA</h2>

            <form id="form_formacion" action="" method="post">

                <h3><strong>Formación</strong></h3>

                <label for="nivelEstudios">Nivel de estudios (sin esstudios, básica, secundaria...)</label>
                <input type="text" id="nivelEstudios" name="nivelEstudios" placeholder="..." required />
                <label for="especialidad">Especialidad</label>
                <input type="text" id="especialidad" name="especialidad" placeholder="..." required />
                <label for="formacionComplementaria">Formación complementaria o no reglada</label>
                <input type="text" id="formacionComplementaria" name="formacionComplementaria" placeholder="..." />
                <label for="otrosDatos">Otros datos sobre formación</label>
                <input type="text" id="otrosDatos" name="otrosDatos" placeholder="..." />

                <label for="tieneCarnetAlimentos">¿Tiene carnet de manipulador de alimentos?</label>
                <input type="radio" name="tieneCarnetAlimentos" value="0">Si</input>
                <input type="radio" name="tieneCarnetAlimentos" value="1" checked>No</input>
                <label for="tieneCarnetConducir">¿Tiene carnet de conducir?</label>
                <input type="radio" name="tieneCarnetConducir" value="0">Si</input>
                <input type="radio" name="tieneCarnetConducir" value="1" checked>No</input>
                <label for="tieneCV">¿Tiene Curriculum Vitae?</label>
                <input type="radio" name="tieneCV" value="0">Si</input>
                <input type="radio" name="tieneCV" value="1" checked>No</input>
                <label for="tieneEstudiosHomologados">¿Tiene estudios homologados?</label>
                <input type="radio" name="tieneEstudiosHomologados" value="0">Si</input>
                <input type="radio" name="tieneEstudiosHomologados" value="1" checked>No</input>
                <label for="tieneCarnetConvalidado">¿Tiene carnet convalidado?</label>
                <input type="radio" name="tieneCarnetConvalidado" value="0">Si</input>
                <input type="radio" name="tieneCarnetConvalidado" value="1" checked>No</input>


                <div class="botones-form">
                    <button type="button" id="comprobar">Comprobar</button>
                    <input type="reset" value="Borrar" />
                    <a href="/pagNuevaLaboral">Siguiente</a>
                    <a href="/pagNuevaSalud">Anterior</a>
                </div>
            </form>
        </section>

    </header>


</body>

</html>