html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #af27ce;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa';
    font-size: 18px;
    /* margin: auto; */
    width: 100%;
    align-content: center;
    /* border: 2px solid red; */
}

.navMenu ul>li {
    float: left;
}

ul li {
    list-style: none;
}


.navMenu ul li a {
    color: #af27ce;
    text-decoration: none;
    padding: 10px 12px;
    display: block;

}

.navMenu li a:hover {
    background-color: #af27ce;
    color: white;
}

.navMenu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navMenu ul li:hover>ul {
    display: block;
}

.navMenu li ul li {
    position: relative;
}

.navMenu li ul li ul {
    right: -140px;
    top: 0px;
}



/* 
body {
    color: #af27ce;
    font-family: 'Comfortaa';
    font-size: 16px;
} */

.imgLogo {
    display: flex;
    margin-left: 10px;
    /* width: 600px; */
}

.logo {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 60%;
}

.divPerfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
}

.iconoGrande img {
    height: 45px;
}


/* footer {
    font-family: 'Roboto';
    font-size: 14px;
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #af27ce;
    color: white;
    align-items: center;
} */